[submodule "frontend"]
	path = frontend
	url = https://github.com/sespinosab/institutionService-front.git
[submodule "backend"]
	path = backend
	url = https://github.com/sespinosab/institutionService-back.git
